<mat-toolbar color="primary">
  <span><mat-icon>mood</mat-icon></span>

  <span>Yay, Offline First !!</span>
</mat-toolbar>
<div class="comment-container">
<app-comment *ngFor='let comment of comments' [comment]="comment">
</app-comment>

<app-comment *ngFor='let comment of outBoxComments' [comment]="comment" [outbox]="true">
</app-comment>
</div>
<form class="example-form" (ngSubmit)="submit()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nom" name="user" [(ngModel)]="newComment.user" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Commentaire" name="content" [(ngModel)]="newComment.content"></textarea>
  </mat-form-field>
  <button mat-raised-button>Envoyer</button>
</form>
